<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <section name="zookeeper" type="Dot.ZooKeeper.ZooKeeperConfig, Dot.ZooKeeper"/>
    <section name="bindings" type="Dot.ServiceModel.Channels.BindingConfig, Dot"/>
  </configSections>
  
  <zookeeper>
    <connectionString value="192.168.81.102:2181,192.168.81.102:2182,192.168.81.102:2183,192.168.81.102:2184,192.168.81.102:2185"/>
    <connectTimeoutMs value="2147483647"/>
    <sessionTimeoutMs value="20000"/>
  </zookeeper>

  <bindings>
    <binding bindingType="basicHttp" name="unary" sendTimeout="2000" openTimeout="2000"/>
  </bindings>
  
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>