<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="dotConfig" type="Dot.Configuration.DotConfig, Dot"/>
    <section name="databases" type="Dot.Database.DatabaseConfig, Dot"/>
  </configSections>

  <dotConfig>
    <Engine Type="Dot.Dependency.Engine.DotEngine, Dot" />
    <AssemblySkipPattern Value="^System|^mscorlib|^Microsoft|^AjaxControlToolkit|^Antlr3|^Autofac|^AutoMapper|^Castle|^ComponentArt|^CppCodeProvider|^DotNetOpenAuth|^EntityFramework|^EPPlus|^FluentValidation|^ImageResizer|^itextsharp|^log4net|^MaxMind|^MbUnit|^MiniProfiler|^Mono.Math|^MvcContrib|^Newtonsoft|^NHibernate|^nunit|^Org.Mentalis|^PerlRegex|^QuickGraph|^Recaptcha|^Remotion|^RestSharp|^Rhino|^Telerik|^Iesi|^TestDriven|^TestFu|^UserAgentStringLibrary|^VJSharpCodeProvider|^WebActivator|^WebDev|^WebGrease"/>
    <AssemblyRestrictPattern Value="Dot.*"/>
    <IsWebApplication Value="false"/>
  </dotConfig>

  <databases>
    <database name="sjgo">
      <write>server=192.168.1.1;user id=sa;password=sa;database=cqssWrite</write>
      <reads>
        <read>server=192.168.1.2;user id=sa;password=sa;database=cqssRead</read>
        <read>server=192.168.1.3;user id=sa;password=sa;database=cqssRead</read>
      </reads>
    </database>
  </databases>
</configuration>