<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="dotConfig" type="Dot.Configuration.DotConfig, Dot"/>
  </configSections>

  <dotConfig>
    <Engine Type="Dot.Dependency.Engine.DotEngine, Dot" />
    <AssemblySkipPattern Value="^System|^mscorlib|^Microsoft|^AjaxControlToolkit|^Antlr3|^Autofac|^AutoMapper|^Castle|^ComponentArt|^CppCodeProvider|^DotNetOpenAuth|^EntityFramework|^EPPlus|^FluentValidation|^ImageResizer|^itextsharp|^log4net|^MaxMind|^MbUnit|^MiniProfiler|^Mono.Math|^MvcContrib|^Newtonsoft|^NHibernate|^nunit|^Org.Mentalis|^PerlRegex|^QuickGraph|^Recaptcha|^Remotion|^RestSharp|^Rhino|^Telerik|^Iesi|^TestDriven|^TestFu|^UserAgentStringLibrary|^VJSharpCodeProvider|^WebActivator|^WebDev|^WebGrease"/>
    <AssemblyRestrictPattern Value="Dot.*"/>
    <IsWebApplication Value="false"/>
  </dotConfig>
</configuration>