<log4net debug="true">
  <appender name="rollingFile" type="log4net.Appender.RollingFileAppender,log4net">
    <param name="File" value="log/test/"/>
    <param name="AppendToFile" value="true"/>
    <param name="RollingStyle" value="Composite"/>
    <param name="MaxSizeRollBackups" value="100" />
    <param name="MaximumFileSize" value="10MB" />
    <param name="DatePattern" value="yyyy-MM-dd-HH&quot;.txt&quot;"/>
    <param name="StaticLogFileName" value="false"/>
    <layout type="log4net.Layout.PatternLayout,log4net">
      <param name="ConversionPattern" value="【日志来源】：%logger %newline【时    间】：%date %newline【日志等级】：%level %newline【日志内容】：%message %newline【异常信息】：%exception %newline*************************%newline"/>
    </layout>
  </appender>
  <appender name="console" type="log4net.Appender.ConsoleAppender">
    <layout type="log4net.Layout.PatternLayout,log4net">
      <param name="ConversionPattern" value="【日志来源】：%logger %newline【时    间】：%date %newline【日志等级】：%level %newline【日志内容】：%message %newline【异常信息】：%exception %newline*************************%newline"/>
    </layout>
  </appender>
  <root>
    <priority value="ALL"/>
    <appender-ref ref="rollingFile"/>
  </root>
</log4net>