<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="bindings" type="Dot.ServiceModel.Channels.BindingConfig, Dot" />
    <section name="dotConfig" type="Dot.Configuration.DotConfig, Dot" />
  </configSections>
  
  <bindings>
    <binding bindingType="basicHttp" name="lucene,luceneOperate" sendTimeout="1000" openTimeout="2000" />
    <binding bindingType="basicHttp" name="promotion" messageSize="10000" bufferSize="20000" bufferPoolSize="30000" sendTimeout="1000" openTimeout="2000" />
  </bindings>

  <dotConfig>
    <Engine Type="Dot.Dependency.Engine.DotEngine, Dot" />
    <AssemblySkipPattern Value="^System|^mscorlib|^Microsoft|^AjaxControlToolkit|^Antlr3|^Autofac|^AutoMapper|^Castle|^ComponentArt|^CppCodeProvider|^DotNetOpenAuth|^EntityFramework|^EPPlus|^FluentValidation|^ImageResizer|^itextsharp|^log4net|^MaxMind|^MbUnit|^MiniProfiler|^Mono.Math|^MvcContrib|^Newtonsoft|^NHibernate|^nunit|^Org.Mentalis|^PerlRegex|^QuickGraph|^Recaptcha|^Remotion|^RestSharp|^Rhino|^Telerik|^Iesi|^TestDriven|^TestFu|^UserAgentStringLibrary|^VJSharpCodeProvider|^WebActivator|^WebDev|^WebGrease" />
    <AssemblyRestrictPattern Value="Dot.*" />
    <IsWebApplication Value="false" />
  </dotConfig>
  
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>