<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="bindings" type="Dot.ServiceModel.Channels.BindingConfig, Dot"/>
  </configSections>
  <bindings>
    <binding bindingType="basicHttp" name="lucene,luceneOperate" sendTimeout="1000" openTimeout="2000"/>
    <binding bindingType="basicHttp" name="promotion" messageSize="10000" bufferSize="20000" bufferPoolSize="30000" sendTimeout="1000" openTimeout="2000"/>
  </bindings>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>